/* partially taken from https://rosenzweig.io/style.css */

body {
    font-family: "Cantarell", sans-serif;
    font-size: 12pt;
    
    max-width: 55em;
    margin: 0px auto;
    padding: 0em 1em 1em 1em; 
    line-height: 1.6;
    
    background-color: #333333;
    color: #dcdccc;
}

a {
    color: #aaaaaa;
}
